@import "../../pages/base.scss";

.Gray {
  filter: grayscale(1);
}
img.Red,
img.Gray {
  height: 30px;
  width: 30px;
  left: 3px;
  top: 3px;
  object-fit: cover;
  margin-top: 30px;
  margin-bottom: 34px;
}
