@import "../../pages/base.scss";
.banner.about{
  position: relative;
  margin-top: 68.74px;
  border-radius: 25px;
  height: 225px;
  width: 86%;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Montserrat";
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: #000000;
    filter: brightness(0.6);
  }

  p.message {
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    position: absolute;
    top: 19%;
    width: 100%;
    text-align: center;
    color: white;
  }
}

@media screen and (max-width: $breakTablet) {
  .banner.about{
    height: 180px;
    margin-bottom: 28px;
    margin-left: 50px;
    margin-right: 50px;
    img {
      width: 100%;
    }
    p.message {
      font-size: 24px;
      line-height: 100%;
    }
  }
}

@media screen and (max-width: $breakPhone) {
  .banner.about {
    height: 110px;
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
    img {
      width: 104%;
    }
    p.message {
      font-size: 24px;
      font-weight: 500;
      line-height: 100%;
      text-align: left;
      padding-left: 16px;
      top: 12%;
    }
  }
}
