@import "../../pages/base.scss";

.card-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding-top: 268px;
  padding-left: 20px;
}

.card-link {
  text-decoration: none;
}

@media screen and (max-width: $breakTablet) {
   
}

@media screen and (max-width: $breakPhone) {
 
}


