@import "../../pages/base.scss";
.card {
  height: 340px;
  width: 340px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}
.card-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding-top: 293px;
  padding-left: 20px;
}

.card-link {
  text-decoration: none;
}
