@import "../../pages/base.scss";

.AboutCollapsible {
    margin: 31px 208px;
   .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $PimaryColor;
      border-radius: 5px;
      color: white;
      padding: 0.5rem 1rem;
      margin-top: 2rem;
      cursor: pointer;
    }
     .icon {
      background-color: inherit;
    }
    .content {
      background-color: $PrimaryBackground;
      border-radius: 5px;
      font-weight: 400;
      color: $PimaryColor;
      padding: 17px 27px 13px 18px;
      margin:0px
    }
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  
  @media screen and (max-width: $breakTablet) {
    .AboutCollapsible {
      .title {
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem;
      }
      .content {
        font-size: 0.8rem;
        padding: 0.8rem;
      }

      .icon {
        width: 15px;
        height: 20px;
      }
    }
  }
  
  @media screen and (max-width: $breakPhone) {
    .AboutCollapsible {
     .title {
        font-size: 0.5rem;
        padding: 0.3rem 0.5rem;
      }
     .content {
        font-size: 0.5rem;
        padding: 0.5rem;
      }
     .icon {
        width: 9px;
        height: 15px;
      }
    }
  }