@import "../../pages/base.scss";

.AboutCollapsible {
  margin: 31px 208px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $PimaryColor;
    border-radius: 5px;
    color: white;
    padding: 10px 16px;
    margin-top: 32px;
    cursor: pointer;
    font-size: 24px;
  }
  .icon svg  {
    background-color: inherit;
  }
  p.content {
    background-color: $PrimaryBackground;
    border-radius: 5px;
    font-weight: 400;
    color: $PimaryColor;
    padding: 17px 27px 13px 18px;
    margin: 0px;
    font-size: 24px;
    line-height: 34.22px;

  }
}

.rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: $breakTablet) {
  .AboutCollapsible {
    
      margin: 20px;
    .title {
      font-size: 12.8px;
      padding:8px 12.8px;
    }
    p.content {
      font-size: 16px;
      padding: 12.8px;
      line-height: 25px;
    }

    .icon svg {
      width: 15px;
      height: 20px;
    }
  }
}

@media screen and (max-width: $breakPhone) {
  .AboutCollapsible {
    margin: 20px;
    .title {
      font-size: 12px;
      padding: 4.8px 8px;
    }
    p.content {
      font-size: 12px;
      padding: 23.08px 6.91px 52.58px 11.51px;
      line-height: 17.1px;
    }
    .icon svg {
      height: 15.195879936218262px;
      width: 8.976924896240234px;
      left: 1.6116943359375px;
      top: 13.968994140625px;
      border-radius: 0px;
    }
  }
}
