@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$PrimaryFont: "Montserrat";
$PimaryColor: rgba(255, 96, 96, 1);
$PrimaryBackground:#F7F7F7;
$SecondaryBackground:#FF6060;

$breakPhone: 722px;
$breakTablet: 900px;

body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  font-family: 'Montserrat';
  
}

@media screen and (max-width: $breakTablet) {
  body {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (max-width: $breakPhone) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
