@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$PrimaryFont: "Montserrat";
$PimaryColor: rgba(255, 96, 96, 1);
$PrimaryBackground:#F7F7F7;
$SecondaryBackground:#FF6060;

$breakPhone: 722px;
$breakTablet: 900px;

body{
  margin:0px;
  font-family: Montserrat;
}
