@import "../../pages/base.scss";
.Collapsible{
    .collapsible {
        background-color: $SecondaryBackground;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 24px;
        
      }
      
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: $PrimaryBackground;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color:rgba(255, 96, 96, 1);

        

      }


}
