@import "../../pages/base.scss";

.header {
  display: flex;
  justify-content: space-between;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: #ff6060;
    text-transform: uppercase;
    padding-left: 57px;
  }
}
@media screen and (max-width: $breakTablet) {
  .header {
    img {
      height: 47px;
      width: 145px;
      object-fit: cover;
    }
    .navbar a {
      font-size: 12px;
      padding-left: 37px;
    }
  }
}

@media screen and (max-width: $breakPhone) {
  .header {
    img {
      height: 47px;
      width: 145px;
      object-fit: cover;
    }

    .navbar a {
      font-size: 12px;
      padding-left: 27px;
    }
  }
}
