@import "../../pages/base.scss";
.gallery {
  background: #f7f7f7;
  border-radius: 25px;
  margin-top: 43px;

  font-family: "Montserrat";

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 56px;

    article {
      height: 340px;
      width: 340px;
      border-radius: 10px;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: $breakTablet) {
  .gallery {
 

    .articles {
     
      padding-top: 35px;
      justify-content: center;

      article {
        height: 255px;
        width: 335px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: $breakPhone) {
  .gallery {
    background: transparent;
    border-radius: 25px;
    margin-top: 22px;
  

    .articles {
      
      padding-top: 22px;

      article {
        height: 255px;
        width: 335px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
    }
  }
}
