@import "../../pages/base.scss";

.footer {
  margin:0px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    padding-top: 33px;
    margin-bottom: 28px;
  }
  p {
    padding-bottom: 0;
  }
}

@media screen and (max-width: $breakTablet) {
}

@media screen and (max-width: $breakPhone) {
}
